body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}

html{
    font-size: 20px;
}

span.blue, h2.blue{
    color: skyblue;
}

span.pink, h2.pink{
    color: rgb(255, 192, 203) ;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: -7px 0px 0px rgba(153, 153, 153, 1);
  border-bottom: 3px solid rgb(115, 115, 114);
}

#basic p{
    font-weight: bold;
}